.game-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    background-color: darkolivegreen;
    grid-gap: 25px;
    padding: 10px;
    align-items: center;
    margin-right:500px;
   
}

.grid-item{
    background-color:white;
    padding-top: 25px ;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.table{
    margin-top: 100px;
    text-align: center;
}

